<aside class="aside">
    <h1 style="font-size: large; color: white;">This is Home</h1>
    <h1 style="font-size: large; color: white;">
        <a href="">Chat</a>
    </h1>
</aside>
<main class="main">
    
</main>