<aside class="aside">hi</aside>
<main class="main">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quae ullam iusto dignissimos ipsam
    expedita dolorem enim itaque numquam eos laudantium veritatis ad obcaecati reiciendis voluptatum nulla amet saepe
    eaque tempore recusandae, dicta illo laborum blanditiis! Voluptatum explicabo fugit asperiores, quisquam sint ex
    unde. Molestias provident eos aspernatur quo error dolore accusantium illo vitae quidem neque aliquam harum
    explicabo, voluptatibus assumenda inventore fugiat in magni ducimus reiciendis reprehenderit. Odit debitis modi rem
    optio at veniam repudiandae dicta ab explicabo, minus nulla beatae possimus quo labore, natus recusandae eius
    similique itaque ullam error autem ipsa, soluta hic illum. Doloribus, veniam voluptatum sapiente architecto
    mollitia, id ea eum vel quod et obcaecati suscipit magnam laborum, minima tenetur sint. Quam natus maxime ullam
    pariatur delectus quis adipisci neque non!
</main>