<aside class="aside"><h1 style="font-size: large; color: white;">This is Login</h1></aside>
<main class="main">
    <div class="login-form">
        <h3>Login</h3>
        <form action="/login" method="POST">
            <div>
                <label for="username"><strong>Username</strong></label>
                <input type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off" autofill="off">
            </div>
            <div>
                <label for="password"><strong>Password</strong></label>
                <input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="off" autofill="off">
            </div>

            <div>
                <input type="submit" value="Login" class="formBtn">
                <input type="reset" value="reset" class="formBtn">
            </div>

            <div>Dont have an account ? <a href="/signup">Signup</a></div>
        </form>
    </div>
</main>