<main class="main">
    <div class="login-heading">
        <h3>- Login </h3>
    </div>
    <div class="login-form">
        <br><br>
        <hr>
        <form action="/login" method="POST">
            <div class="text">
                Pick up from where you left off! 😊
            </div>
            <div class="wrapper">
                <div>
                    <label for="username"><strong>Username</strong></label>
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                </div>
                <div>
                    <label for="password"><strong>Password</strong></label>
                    <input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="off"
                        autofill="off">
                </div>
            </div>

            <div class="formBtn">
                <input type="submit" value="Login" id="submitBtn">
                <input type="reset" value="reset" id="resetBtn">
            </div>
            <div id="signupTarget">Dont have an account? <a href="/signup">Signup</a></div>
        </form>
    </div>
</main>