<main class="main">
    <div class="signup-heading">
        <h3>- SignUp</h3>
    </div>
    <div class="signup-form">
        <br><br>
        <hr>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <div class="text">
                Please fill in this form and become a part of our family.
            </div>
            <div class="wrapper">
                <div>
                    <label for="name"><strong>Name</strong></label>
                    <input type="text" name="name" id="name" placeholder="Name">
                </div>
                <div>
                    <label for="username"><strong>Username</strong></label>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div>
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div>
                    <label for="photo" class="custom-file-upload">
                        <strong>Add Profile Picture</strong>
                    </label>
                    <input type="file" name="photo" id="photo" accept="image/*">
                </div>
                <div>
                    <label for="password"><strong>Password</strong></label>
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                </div>
                <div>
                    <label for="cnfmPassword">
                        <strong>
                            <pre>Confirm 
Password</pre>
                        </strong>
                    </label>
                    <input type="password" name="cnfmPassword" id="cnfmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="formBtn">
                <input type="submit" value="Register" id="submitBtn">
                <input type="reset" value="Reset" id="resetBtn">
            </div>
        </form>
    </div>
</main>