@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


/* My variables */
:root {
    --white: #ffffff;
    --white-s2: #f8f8f8;
    --black: #000000;
    --dark-green: #143E32;
    --light-green: #1FDC63;
    --light-bg-1: #C8FACD;
    --light-bg-2: #A6E1FA;
    --light-bg-3: #edf0ff;
    --dark-bg-1: #121212;
    --dark-bg-2: #282828;
    --poppins: 'Poppins';
    --lora: 'Lora';
}


*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: var(--light-bg-3);
    font-family: var(--poppins);
}

/* 
div.container {
    display: grid;
    height: calc(100vh - 20px);

    grid-template-rows: 75px 1fr 100px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
        "nav nav "
        "sidebar content"
        "footer footer"; */

/* margin: 10px 10px 10px 10px; */
/* margin: 0;
    border-radius: 50px;
} */

/* Nav bar */
/* .nav {
    grid-area: nav;
    background-color: var(--light-bg-2); */
/* border: 1px solid white; */
/* border-radius: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
} */

/* .logo {
    border: 1px solid white;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 2rem;
    color: var(--white);
} */

/* Aside
.aside {
    grid-area: sidebar;
    background-color: var(--dark-bg-2);
    border: 1px solid white;
}

Main
.main {
    grid-area: content;
    background-color: var(--dark-bg-1);
    /* border: 1px solid white; */
/* height: calc(100vh - 195px);
    padding: 15px;
    text-align: justify;
} */

/* Registration form */
/* .main .register-form {
    border: 1px solid white;
    color: var(--white);
    font-size: 2rem;
    background-color: var(--dark-bg-1);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h3 {
    font-size: 2.5rem;
}

.main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main form div:not(:last-child) {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    max-width: 25vw;
}

.main form div:last-child {
    display: flex;
    justify-content: center;
}

.main form .formBtn {
    padding: 10px 20px;
} */

/* Footer */
/* .footer {
    grid-area: footer;
    background-color: var(--light-bg-2);
    position: relative;
    display: none;
} */


/* .nav {
    display: none;
} */




.row {
    margin: 0 auto;
}

.row-1240 {
    max-width: 1240px;
}

.container-bmi {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.box {
    background-color: white;
    padding: 10px;
}

.breadcrumb {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 20px 5px 15px;
    color: var(--dark-bg-2);
}

.box-subnav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.img-subnav {
    padding-right: 10px;
    border-right: 1px solid #aaa;
}

.title-subnav {
    font-size: 1.8rem;
    padding-left: 10px;
}



.box-hero {
    background-image: url(/webp/bmi-back.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 44px 60px;
}

.hero--header {
    font-size: 3.6rem;
}

.hero--sub-header {
    font-size: 1.6rem;
    /* font-weight: 300; */
}

.box-calc {
    padding: 16px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calc--icon {
    padding-right: 10px;
}

.calc--header {
    font-size: 2.5rem;
}

.box-form {
    padding: 32px 60px;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.calc--height,
.calc--weight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calc--height>label,
.calc--weight>label {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.calc--height>input,
.calc--weight>input {
    background-color: #f8f8f8;
    border-radius: .5rem;
    border-color: transparent !important;
    color: #3557ff !important;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 5px 8px;
    text-align: center;
    width: 70px;
}


.calc--height>input::placeholder,
.calc--weight>input::placeholder {
    color: #3557ff !important;
    font-size: 1.7rem;
}

.btn-calc {
    background-color: #b3b3b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.8rem;
    padding: 10px 20px;
    height: 5rem;
    align-self: flex-end;
}

.form {
    padding: 40px 0;
}

.box-result {
    /* display: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bmi-result {
    padding: 40px 30px;
    background-color: #f6f1ed;
    border-radius: 10px;
}

.bmi-result > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.bmi-result-para {
    font-size: 4.5rem;
    font-weight: 600;
    color: #3557ff;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
}

.bmi-result-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff9f5;
    padding: 15px 40px;
    border-radius: 10px;
}

.container-about {
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about-empty {
    width: 100%;
}


.box-about--item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.glossary--item {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}