@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


/* My variables */
:root {
    --white: #ffffff;
    --black: #000000;
    --dark-green: #143E32;
    --light-green: #1FDC63;
    --light-bg-1: #C8FACD;
    --light-bg-2: #A6E1FA;
    --dark-bg-1: #121212;
    --dark-bg-2: #282828;
    --poppins: 'Poppins';
    --lora: 'Lora';
}


*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background-color: var(--light-bg-1);
}

div.container {
    display: grid;
    height: calc(100vh - 20px);

    grid-template-rows: 75px 1fr 100px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
        "nav nav "
        "sidebar content"
        "footer footer";

    margin: 10px 10px 10px 10px;
    border-radius: 50px;
}

/* Nav bar */
.nav {
    grid-area: nav;
    background-color: var(--light-bg-2);
    /* border: 1px solid white; */
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo {
    border: 1px solid white;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 2rem;
    color: var(--white);
}

/* Aside */
.aside {
    grid-area: sidebar;
    background-color: var(--dark-bg-2);
    border: 1px solid white;
}

/* Main */
.main {
    grid-area: content;
    background-color: var(--dark-bg-1);
    /* border: 1px solid white; */
    height: calc(100vh - 195px);
    padding: 15px;
    text-align: justify;
}

/* Registration form */
.main .register-form {
    border: 1px solid white;
    color: var(--white);
    font-size: 2rem;
    background-color: var(--dark-bg-1);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h3 {
    font-size: 2.5rem;
}

.main form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main form div:not(:last-child) {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    max-width: 25vw;
}

.main form div:last-child {
    display: flex;
    justify-content: center;
}

.main form .formBtn {
    padding: 10px 20px;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: var(--dark-bg-2);
    position: relative;
}