/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


/* VARIABLES */
:root {
    --white: #ffffff;
    --black: #000000;

    --bg-black: #181818;
    --bg-black-2 : #232325;

    --bg-purple-1: #380356;
    --dark-purple-1: #6b0078;
    --dark-purple-2: #93009c;

    --light-purple-1: #b000b2;
    --light-purple-2: #d500d8;

    --grey-1: #b4b4b4;
    --grey-2: #a2a2a2;
    --grey-3: #a7a7a7;


    --poppins: 'Poppins';
    --lora: 'Lora';
}


/* RESET */
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--poppins);
    font-size: 10px !important;
    background-color: var(--bg-black);
    color: var(--white);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 0, 128, 0.2);
    /* opacity: .7; */
    padding: 2rem 1.6rem 2rem 5rem;
    border-radius: 5rem;
    border: 1px solid white;
    transition: all ease-out 1.5s;
}

.navbar--list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.navbar--list li:last-child  a{
    border: 1px solid var(--light-purple-2);
    border-radius: 50px;
    padding: 1.2rem 2.2rem;
}

.navbar--list li:last-child a:hover{
    border: 1px solid var(--light-purple-2);
    background-color: var(--light-purple-2);
    color: var(--white);
    border-radius: 50px;
    padding: 1.2rem 2.2rem;
}

.logo {
    font-size: 2rem;
}

.navbar--list>li>a {
    transition: all ease-in .2s;
}


.navbar--list>li>a {
    font-size: 1.6rem;
    transition: all ease-in .2s;
}

.navbar--list>li:not(:last-child)>a:hover{
    text-decoration: underline;
}


/* STICKY NAVBAR */
.navbar-sticky {
    margin: 0 auto;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem 1.6rem 2rem 5rem;
    border-radius: 5rem;
    border: none;
    /* transition: all ease-in-out 0.5s; */
    transition: all ease-in-out 1.5s;
}

/* Define the keyframes animation for down*/
@keyframes nav-animation-down {
    0% {
        max-width: 100%;
    }
    100% {
        max-width: 75%;
    }
}
.animate-nav-down {
    animation-name: nav-animation-down; 
    animation-duration: 0.5s; 
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
}

/* Define the keyframes animation for Up*/
@keyframes nav-animation-up {
    0% {
        max-width: 75%;
    }
    100% {
        max-width: 100%;
    }
}
.animate-nav-up {
    animation-name: nav-animation-up; 
    animation-duration: 0.5s; 
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
}




/* body {
    background: linear-gradient(-45deg, #97D9E1, #D9AFD9, #97D9E1, #D9AFD9);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    padding: 1rem 2rem 0;
} */

body {
    background: linear-gradient(-45deg, var(--bg-black), var(--light-purple-1), var(--bg-black), var(--light-purple-1));
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    padding: 2rem 4rem 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main>div {
    padding: 7rem 2rem;
    background-color: var(--bg-black-2);
    color: white;
    margin: 2rem 0;
    border-radius: 2rem;
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* background-color: #F5F5F5; */
    /* background: linear-gradient(-45deg, #97D9E1, #D9AFD9, #97D9E1, #D9AFD9); */
    background: linear-gradient(-45deg, var(--bg-black), var(--light-purple-1), var(--bg-black), var(--light-purple-1));
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

::-webkit-scrollbar {
    width: 12px;
    /* background-color: #F5F5F5; */
    /* background: linear-gradient(-45deg, #97D9E1, #D9AFD9, #97D9E1, #D9AFD9); */
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
    /* background: linear-gradient(-45deg, #97D9E1, #D9AFD9, #97D9E1, #D9AFD9);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite; */
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .5);

}