@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


/* My variables */
:root {
    --white: #ffffff;
    --black: #000000;
    --dark-green: #143E32;
    --light-green: #1FDC63;
    --dark-bg-1: #121212;
    --dark-bg-2: #282828;
    --poppins: 'Poppins';
    --lora: 'Lora';
}

