<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI - Health Social</title>

    <link rel="stylesheet" href="/css/bmi.css">
    <script src="/js/bmi.js" defer></script>
</head>

<body>
    <h1>this is my bmi index file</h1>

</body>

</html>