<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI - Health Social</title>

    <link rel="stylesheet" href="/css/bmi.css">
    <script src="/js/bmi.js" defer></script>
</head>

<body>
    <div class="row row-1240">
        <div class="container-bmi">
            <h4 class="breadcrumb">Diet & Weight Calculator</h4>
            <div class="box box-subnav">
                <img src="https://source.unsplash.com/128x32/?logo" alt="food" class="img-subnav">
                <h3 class="title-subnav">BMI Calculator</h3>
            </div>

            <div class="box box-hero">
                <h1 class="hero--header">BMI Calculator</h1>
                <p class="hero--sub-header">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a fugiat saepe eveniet delectus
                    eligendi harum fugit, asperiores recusandae consequuntur quisquam iusto, laborum dolorum corrupti!
                    Saepe et alias consequatur! Minus, magni labore natus laborum molestias nostrum! Suscipit
                    laudantium, ducimus, libero similique sapiente quia totam asperiores repudiandae incidunt laboriosam
                    dolorem exercitationem.
                </p>
            </div>

            <div class="box box-calc">
                <img src="https://source.unsplash.com/70x70/?icon" alt="weight" class="calc--icon">
                <h3 class="calc--header">Calculate Your BMI</h3>
            </div>

            <div class="box box-form">
                <form action="/bmi" method="POST" class="form">
                    <div class="form-group">
                        <div class="calc--height">
                            <label for="height">Height (cm)</label>
                            <input type="number" id="height" name="height" placeholder="0 cm">
                        </div>
                        <div class="calc--weight">
                            <label for="weight">Weight (Kg)</label>
                            <input type="number" id="weight" name="weight" placeholder="0 kg">
                        </div>
                        <button type="submit" class="btn btn-calc">Calculate</button>
                    </div>
                </form>
                <div class="box box-result">
                    <div class="bmi-result">
                        <h2>Your Body Mass Index</h2>
                        <p class="bmi-result"></p>
                    </div>
                    <div class="bmi-result-info">
                        <div class="result-info">
                            <img src="https://source.unsplash.com/95x160/?person" alt="weight" class="result--icon">
                            <div class="result-info-text">
                                <p>Underweight</p>
                                <p>Less than 18.5</p>
                            </div>
                        </div>
                        <div class="result-info">
                            <img src="https://source.unsplash.com/95x160/?person" alt="weight" class="result--icon">
                            <div class="result-info-text">
                                <p>Normal</p>
                                <p>18.5 - 24.9</p>
                            </div>
                        </div>
                        <div class="result-info">
                            <img src="https://source.unsplash.com/95x160/?person" alt="weight" class="result--icon">
                            <div class="result-info-text">
                                <p>Overweight</p>
                                <p>25 - 29.9</p>
                            </div>
                        </div>
                        <div class="result-info">
                            <img src="https://source.unsplash.com/95x160/?person" alt="weight" class="result--icon">
                            <div class="result-info-text">
                                <p>Obese</p>
                                <p>30 or more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>