<main>
    <div class="addBlogPost">
        <div class="heading">Add New Blog</div>

        <form action="/add-blogpost" method="POST">
            <div>
                <label for="title"><b>Title</b></label>
                <input type="text" placeholder="Enter the title" name="title">
            </div>
            <div>
                <label for="content"><b>Content</b></label>
                <textarea name="content" cols="50" rows="10" placeholder="Enter the content"></textarea>
            </div>
            <div>
                <input type="submit" value="Add" class="btn">
            </div>
        </form>
    </div>
</main>