<h2>Add New Post</h2>

<form action="/add-blogpost" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title">

    <label for="content"><b>Content</b></label>
    <textarea name="content" cols="50" rows="10"></textarea>

    <input type="submit" value="Add" class="btn">

</form>