<head>
    <link rel="stylesheet" href="/css/blogpost.css">
</head>
<main>
    <div class="blogpost">
        <h1>
            <%= data.title %>
        </h1>
        <article>
            <%= data.content %>
        </article>
    </div>
</main>