<main>
    <div class="blogpost">
        <h1>
            <%= data.title %>
        </h1>
        <article>
            <pre style="word-wrap: break-word;"><%= data.content %></pre>
        </article>
    </div>
</main>