<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="text-center">© 2017 <a href="#">HealthSocial</a></p>
        </div>
    </div>
    <div class="clearfix"></div>
</footer>