<footer class="footer">

    <div class="footer-content">
        <h1 class="logo-text">Health-Connect</h1>
        <p>
            Health-Connect is a platform that connects you with the best doctors in the country. You can book an
            appointment with the doctor of your choice and get the best treatment.
        </p>
        <div class="contact">
            <span><i class="fas fa-phone"></i> &nbsp; +977-123456789</span>
            <span><i class="fas fa-envelope"></i> &nbsp;
        </div>
    </div>


</footer>