<!-- <footer class="footer">
    <div class="footer-content" id="tsparticles">
        
        <div class="heading">Health-Connect</div>
        <ul>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</footer> -->

<footer class="footer">
    <div class="footer-content">
        <div class="heading">Health-Connect</div>
        <div class="links">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="#">Community</a></li>
            </ul>
            <ul>
                <li><a href="">Help & FAQ</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="info">
            &copy; 2021 Health-Connect. All rights reserved.
        </div>
        <div id="tsparticles"></div>
    </div>
</footer>