<div class="content">
    <nav class="navbar">
        <a href="#">
            <div class="logo">Health-Connect</div>
        </a>

        <ul class="navbar--list">
            <!-- <li><a href="/home">Home</a></li> -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/login">Login</a></li> -->
            <li><a href="/logout" class="btn btn-login">Logout</a></li>
            
        </ul>
    </nav>
</div>