<nav class="nav">
    <a href="/"><div class="logo">Logo</div></a>
    <div class="nav-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/bmi">BMI</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>