<nav class="nav">
    <div class="logo">Logo</div>
    <div class="nav-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Contact</li>
            <li><a href="/bmi">BMI</a></li>
            <li>About</li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>