<div class="content">

    <nav class="navbar">
        <a href="#">
            <div class="logo">Health-Connect</div>
        </a>

        <ul class="navbar--list">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login" class="btn btn-login">Login</a></li>
        </ul>
    </nav>

    <nav class="navbar navbar-sticky">
        <a href="#">
            <div class="logo">Logo</div>
        </a>

        <ul class="navbar--list">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <main>

        <div>
            <h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, ex? Esse nesciunt cumque, cupiditate provident magnam non maiores officia facere reprehenderit nemo perspiciatis deleniti blanditiis, possimus distinctio corporis quaerat dicta ab architecto necessitatibus quia, veritatis asperiores! Reiciendis cupiditate nemo consequatur ducimus repudiandae dolores aut, ratione, repellat quibusdam, qui optio itaque? Possimus minus, eaque, exercitationem impedit laudantium suscipit mollitia quos consequuntur vel sint est quis facere. Vitae suscipit necessitatibus, ratione pariatur unde ad eius! Repudiandae architecto voluptatem minus rem explicabo consequatur recusandae, non consequuntur tenetur, eligendi mollitia amet quo laborum corrupti quibusdam, nostrum deleniti. Quam, consequatur modi quo accusantium perspiciatis necessitatibus?
            </h1>
        </div>

        <div>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloribus modi nisi architecto! Officia, voluptatum iste. Aut tenetur, quo officiis sint deserunt dicta perspiciatis vel cumque recusandae minus, consequatur ipsam deleniti, itaque dolorem? Doloribus obcaecati totam aperiam, saepe a repudiandae quam quia tenetur corporis itaque adipisci corrupti cumque alias error similique sint tempora harum, voluptas accusantium. Laborum eligendi nobis voluptates, corrupti magnam fugit sed et iste nesciunt, vero debitis voluptate perferendis tenetur tempore temporibus hic? Sint magni molestias nemo natus. Autem harum repudiandae consequatur quae pariatur, illum assumenda itaque voluptate nam. Voluptates quas numquam nulla laboriosam, doloremque in dicta nemo?
            </h1>
        </div>

        <div>
            <h1>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum officiis id quibusdam ducimus voluptatibus molestias voluptates, modi quidem architecto sint aliquid temporibus recusandae ipsum aperiam voluptas totam alias magni placeat obcaecati blanditiis consequuntur? Impedit molestias dolorem iure rem voluptas dolorum hic consequatur velit suscipit tempora cumque officiis, deleniti voluptatem repudiandae totam, sint repellendus facilis maiores earum at eligendi, ut asperiores! Non, voluptatum! Pariatur nobis, non a numquam sapiente id temporibus tempora provident facilis similique ullam dolorem aliquam praesentium repellendus velit ad atque, minus excepturi cum quam odio suscipit ratione nemo illum. Expedita unde repellat incidunt, ab neque cumque totam ea.
            </h1>
        </div>
    </main>
</div>