<div class="content">

    <nav class="navbar">
        <a href="#">
            <div class="logo">Health-Connect</div>
        </a>

        <ul class="navbar--list">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login" class="btn btn-login">Login</a></li>
        </ul>
    </nav>
    
    <nav class="navbar navbar-sticky">
        <a href="#">
            <div class="logo">Logo</div>
        </a>

        <ul class="navbar--list">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <main>

        <div>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum porro optio vitae rerum mollitia
                at
                ipsa earum veniam asperiores repudiandae est cum praesentium, aliquam, libero eveniet sunt sapiente
                eius!
                Corporis eaque molestiae odit, perspiciatis impedit amet suscipit. Veniam repellat, sunt praesentium
                fugiat
                deleniti iste cumque corrupti quod adipisci excepturi ratione consectetur aperiam sequi amet, numquam
                molestias? Tempora in aspernatur, optio omnis voluptatem adipisci facilis ipsam voluptatibus laudantium
                laboriosam? Dicta mollitia dolores perspiciatis facere fuga sunt omnis officia adipisci aliquid,
                similique
                ipsum iure quos, facilis veniam sit molestiae necessitatibus voluptas rem perferendis vitae nisi hic ex
                deserunt. Maxime, quam beatae?</h1>
        </div>

        <div>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum porro optio vitae rerum mollitia
                at
                ipsa earum veniam asperiores repudiandae est cum praesentium, aliquam, libero eveniet sunt sapiente
                eius!
                Corporis eaque molestiae odit, perspiciatis impedit amet suscipit. Veniam repellat, sunt praesentium
                fugiat
                deleniti iste cumque corrupti quod adipisci excepturi ratione consectetur aperiam sequi amet, numquam
                molestias? Tempora in aspernatur, optio omnis voluptatem adipisci facilis ipsam voluptatibus laudantium
                laboriosam? Dicta mollitia dolores perspiciatis facere fuga sunt omnis officia adipisci aliquid,
                similique
                ipsum iure quos, facilis veniam sit molestiae necessitatibus voluptas rem perferendis vitae nisi hic ex
                deserunt. Maxime, quam beatae?</h1>
        </div>

        <div>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum porro optio vitae rerum mollitia
                at
                ipsa earum veniam asperiores repudiandae est cum praesentium, aliquam, libero eveniet sunt sapiente
                eius!
                Corporis eaque molestiae odit, perspiciatis impedit amet suscipit. Veniam repellat, sunt praesentium
                fugiat
                deleniti iste cumque corrupti quod adipisci excepturi ratione consectetur aperiam sequi amet, numquam
                molestias? Tempora in aspernatur, optio omnis voluptatem adipisci facilis ipsam voluptatibus laudantium
                laboriosam? Dicta mollitia dolores perspiciatis facere fuga sunt omnis officia adipisci aliquid,
                similique
                ipsum iure quos, facilis veniam sit molestiae necessitatibus voluptas rem perferendis vitae nisi hic ex
                deserunt. Maxime, quam beatae?</h1>
        </div>
    </main>
</div>