<nav class="nav">
    <a href="#">
        <div class="logo">Logo</div>
    </a>

    <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>